@include breakpoint(md){
    /* ***********************************************************************************************
        BLOCK HEADER  
    ************************************************************************************************ */

    /*[] HEADER 1 []*/
    header.typeheader-1{
    	&.navbar-compact{display: none!important;}
    	.header-box .block-header .header-garenal .inner-full .inner-2 .box-search #sosearchpro.search-pro{width: 185px; }
	    .header-box .block-header .header-garenal .inner-full .inner-1{margin-#{$right}: 0;}
	    .header-box .block-header .header-garenal .inner-full .inner-2 .box-lang-cur .currencies-block span.fa{padding: 0;}
	    .header-box .block-header .header-navigation div.megamenu-wrapper ul.megamenu > li > a{padding: 14px 12px 13px}
	    .header-box .block-header .header-logo{
	        width: 170px; 
	        .navbar-logo{ padding: 44px 10px 56px;}
	    }
	    .btn {padding: 9px 8px;}
	    .yt_slideshow .owl2-stage-outer{direction: ltr}
    }

    /*[] HEADER 2 []*/
    header.typeheader-2{
        &.navbar-compact{display: none!important;}
        .header-top-left{ padding-#{$right}: 0; }
        .header-top .header-top-right .inner .navbar-welcome .live-chat{ padding-#{$right}: 15px; }
        .header-center .header-center-left .header-search .module.html-shipping{ display: none; }
        .header-center .header-center-left .header-search{ padding-bottom: 23px; }
        .header-center .header-center-left .header-search{ padding-#{$left}: 35px; }
    }

    /* ***********************************************************************************************
        PAGE HOME   
    ************************************************************************************************ */

    /*[] LAYOUT 1 []*/
    .layout-1{
	    div.megamenu-wrapper ul.megamenu > li.menu-ip > .sub-menu{ width: 100%!important;#{$left}: 0;#{$right}: auto;}
        .block-listingtab{margin-bottom: 20px; }
        .block-listingtab .form-group,
        .extraslider-inner{margin: 0;}
	    .products-list.grid .product-layout .product-item-container .left-block .quickview{display: none!important;}
	    .full-wrapper .block-basic-product{width: 75%; }
	    .latest-blog-home1 .cat-wrap .media-bodys{min-height: 150px;padding: 14px;}
	    .latest-blog-home1 .first-post .cat-wrap .media-bodys{ min-height: 152px;}
	    .latest-blog-home1 .last-post .cat-wrap.cat-wrap-2 .media-lefts {margin-top: 152px;}
	    .module.sohomepage-slider .sohomeslider-description .text,
	    .module.sohomepage-slider .sohomeslider-description .text.text-sl13 h3.tilte,
	    .module.sohomepage-slider .sohomeslider-description .text.text-sl12,
	    .module.sohomepage-slider .sohomeslider-description .text.text-sl11{top: 65%;}
	    .module.sohomepage-slider .sohomeslider-description .text.text-sl12 .button-shop{margin-top: 30px;}
	    .module.sohomepage-slider .sohomeslider-description .text.text-sl12 .des{font-size: 16px;}
	    .module.sohomepage-slider .sohomeslider-description .text.text-sl13 h3.tilte,
	    .module.sohomepage-slider .sohomeslider-description .text.text-sl12 h3.tilte,
	    .module.sohomepage-slider .sohomeslider-description .text .modtitle-sl11 {font-size: 40px;}
	    .module.sohomepage-slider .sohomeslider-description .text p.des-sl11{
	        margin-bottom: 25px; font-size: 22px;
	        &:before{bottom: -15px;}
	    }
    }

    /*[] LAYOUT 2 []*/
    .layout-2{
        .product-view .content-product-right .box-info-product .add-to-links{margin-top: 10px;}
        .products-list.grid .product-layout .product-item-container .left-block .quickview{ display: none!important; }
        div.megamenu-wrapper ul.megamenu > li.menu-ip > .sub-menu{ width: 100%!important; #{$left}: 0; #{$right}: auto; }
        .block-hot-cate .static-content .content1-1 .inner{ padding-top: 80px;}
        .block-hot-cate .static-content .content1-2 .inner { padding-top: 25px;}
        .block-hot-cate .static-content .content2-2 .inner { padding-top: 100px;}
        .block-hot-cate .static-content .content3-1 .inner { padding-top: 70px;}
        .block-hot-cate .static-content .content3-2 .inner { padding-top: 60px;}
        .block-hot-cate .static-content.static-content2 .content2-1 .title-cate{margin-bottom: 8px;}
        .block-basic-product .so-basic-product .preset00-1 .item-element{padding: 30px 10px 29px;}
        .block-basic-product .so-basic-product .product-thumb .image{ margin-right: 10px; width: 80px; }
        .block-basic-product .caption a{ font-size: 12px; }
        .block-hot-cate .static-content.static-content2 .content2-1 {padding: 11px 10px 5px;}
        .block-hot-cate .static-content.static-content2 .content2-1 .desc {margin-bottom: 10px;}
        .block-deals-home2 .so-deals-category .so-deals-cat-wrap .wap-deals-cat{float: $right!important;width: 60%;}
        .block-deals-home2 .so-deals-category .so-deals-cat-wrap .so-deals-cat-container{float: $left!important;width: 40%;}
        .block-basic-product .title-home{ padding: 20px 10px 0; h2{ font-size: 16px;}    }
        .full-wrapper .block-basic-product {width: 65%;}
        .full-wrapper .testimonials .owl2-stage-outer .owl2-item{ padding: 70px; overflow: hidden;}
        .full-wrapper .testimonials .item .item-inner .client-des{ font-size: 12px; }
        .latest-blog-home1 .cat-wrap .media-bodys{ min-height: 155px; padding: 20px;}
        .latest-blog-home1 .first-post .cat-wrap .media-bodys{ min-height: 164px;}
        .latest-blog-home1 .last-post .cat-wrap.cat-wrap-2 .media-lefts {margin-top: 155px;}
        .rtl .block-basic-product .so-basic-product .preset00-1 .item-element{ padding: 28px 10px;}
        .so-latest-blog.latest-blog-home2 .media-content{ padding-top: 0;}
        .so-latest-blog.latest-blog-home2 .last-post .media-bodys { padding-top: 8px;}
        .brands-tab .brands-title {  padding: 28px 0 27px; }
        .module.block-sevicer .content-box .banner-info .banner-cont a {font-size: 12px;}
        .module.block-sevicer .content-box .banner-infos .banner-info.banner-info3,
        .module.block-sevicer .content-box .banner-infos .banner-info.banner-info1{ padding: 10px;}
        .module.block-sevicer .content-box .banner-info img { width: 80px; }
        .module.block-sevicer .content-box .banner-info .banner-cont { margin-top: 20px; padding-#{$left}: 5px;}
        .module.block-sevicer .content-box .banner-info.banner-info2 .inner {  padding: 10px;}
        .module.block-sevicer .content-box .banner-info.banner-info2 .inner:before {
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-#{$right}: 20px solid #13b5e6;
            #{$left}: -20px;
        }
        .module.block-sevicer .content-box .banner-info.banner-info2 .inner:after {
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-#{$left}: 20px solid #13b5e6;
            #{$right}: -20px;
        }
        .latest-blog-home1 .last-post .cat-wrap.cat-wrap-2 .media-lefts{margin-top: 152px;}
        .full-breadcrumb {
            padding: 95px 0 50px;
            min-height: 200px!important;
        }
    }

    /* ***********************************************************************************************
        PAGE LISTING  
    ************************************************************************************************ */
    .module.custom-basic-listing .product-thumb .image{width: 80px;margin-#{$right}: 10px;}
    .module.custom-basic-listing .product-thumb .caption h4 a{font-size: 12px; top: 0;line-height: 18px;}
    .module.custom-basic-listing .product-thumb .caption h4{margin: 0;}
    .module.custom-basic-listing .product-thumb .caption .ratings{margin: 0;}
    #sosearchpro.search-pro .autosearch-input.form-control{line-height: 20px!important;}
    .full-breadcrumb{padding: 220px 0 49px;}
    .megamenu-style-dev ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a:before{top: -5px;}
    .releate-horizontal .item-element .image{width: 85px;}
    .releate-horizontal .item-element .caption { 
        margin-#{$left}: 95px; 
        h4{font-size: 14px;}
        .ratings{line-height: 100%;}
    }
    .module h3.modtitle{font-size: 16px;}
    /* ***********************************************************************************************
        PAGE BLOG  
    ************************************************************************************************ */
    .blog-listitem .blog-item .itemBlogContent .blog-meta > span{padding: 0;}
    .blog-listitem .blog-item .itemBlogContent .blog-meta{padding-bottom: 0;}
    .blog-listitem.list .blog-bg{padding-#{$left}: 30px;}
    .blog-listitem.list .blog-bg .blog-date{padding: 20px 15px;}
    .blog-listitem.list .itemBlogImg.left-block{padding: 0;}
}

