<div class="adk-status-wrapper">
    <div class="adk-status-close" id="adk-status-close">&times;</div>
    <div class="adk-status-message">

    </div>
    <div class="adk-status-progress">
        <div class="adk-status-progress-body">
            <div class="adk-status-progress-bar bar-progress" style="width: 0%"></div>
            <div class="adk-status-progress-text text-progress"></div>
        </div>
    </div>
    <div class="adk-status-progress">
        <div class="adk-status-progress-body">
            <div class="adk-status-progress-bar bar-memory" style="width: 0%"></div>
            <div class="adk-status-progress-text text-memory"></div>
        </div>
    </div>
</div>